&nbsp;
{% assign tags = include.post.tags | sort %}
{%- if tags.size > 0 -%}
  <span class="post-meta"><nobr>[
    {% for tag in tags %}
      <a href="/archive/tag/{{ tag | downcase | slugify }}" class="post-tag">{{ tag }}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  ]</nobr></span>
{%- endif -%}
{% if include.post.remote_blog %}
  &nbsp;<span class="post-meta">Posted on <a href="{{ include.post.canonical_url }}" target="_blank">{{ include.post.remote_blog }}</a></span>
{% endif %}
